{% extends 'home/home.html' %} {% block title %}My Routes{% endblock %}

{% block form-elements %}{% endblock %}
{% block route-details %}
<button type="button" class="btn btn-primary retrieve-route">Retrieve Route</button>
  <div id="routes-container"></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    mapboxgl.accessToken = 'pk.eyJ1IjoiZGF2ZWppbnlvdW5nIiwiYSI6ImNscm84czI4ajA3ZHYya2w5c29wZmhwdWsifQ.4EwYfetiww7nb40hQV_RNQ';
        const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v12',
        center: [-123.12, 49.28],
        zoom: 10,
        projection: 'mercator'
    });

    document.addEventListener("DOMContentLoaded", function() {
        console.log('Retrieve Route button clicked');
        fetch('/api/saved_routes/')
            .then(response => response.json())
            .then(data => {
                const routesContainer = document.getElementById('routes-container');
                let allWaypoints = [];
                let count = 1;
                data.forEach(route => {
                    allWaypoints.push(route.waypoints);
                    const routeElement = document.createElement("div");
                    routeElement.innerHTML = `<button>${count} Waypoints: ${route.waypoints}</button>`;
                    routeElement.classList.add("routeNumber", `${count}`);
                    routesContainer.appendChild(routeElement);
                    count++;
                });
                var elements = document.getElementsByClassName("routeNumber");
                Array.from(elements).forEach(function(element) {
                    element.addEventListener('click', function(event) {
                        console.log(element.classList[1]);
                        let index = element.classList[1] - 1;
                        calculateOptimizedRoute(allWaypoints[index]);
                    });
                });
            })
            .catch(error => console.error('Error fetching routes:', error));
    });

    async function calculateOptimizedRoute(waypoint) {
        let exerciseType = 'walking'; // TODO: retrieve this info from db
        let walkwayBias = 'walkway_bias=0.35'; // TODO: retrieve this info from db
        const queryURL = `https://api.mapbox.com/directions/v5/mapbox/${exerciseType}/${waypoint}?&alternatives=true&annotations=distance&continue_straight=false&${walkwayBias}&geometries=geojson&overview=full&steps=true&access_token=${mapboxgl.accessToken}`;
    
        const controller = new AbortController();
        const signal = controller.signal;
    
        try {
            const response = await fetch(queryURL, { signal });
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            const data = await response.json();
            const routes = data.routes;
            const allCoordinates = routes.reduce((acc, route) => {
                return acc.concat(route.geometry.coordinates);
            }, []);
    
            const route = data.routes[0];
            const routeCoordinates = route.geometry.coordinates;
    
            let lineData = {
                type: 'Feature',
                properties: {},
                geometry: {
                    type: 'LineString',
                    coordinates: routeCoordinates
                }
            };
    
            map.addSource('route', { 
                type: 'geojson', 
                data: lineData
            });
            map.addLayer({
                id: 'route',
                type: 'line',
                source: 'route',
                layout: {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                paint: {
                    'line-color': '#174ba6',
                    'line-width': 6.5
                }
            });
            map.addLayer({  
                id: 'arrows',  
                type: 'symbol',  
                source: 'route',  
                layout: {  
                    'symbol-placement': 'line',  
                    'text-field': '▶',  
                    'text-size': ['interpolate', ['linear'], ['zoom'], 12, 24, 22, 40],  
                    'symbol-spacing': ['interpolate', ['linear'], ['zoom'], 12, 65, 22, 200],  
                    'text-keep-upright': false  
                },  
                paint: {  
                    'text-color': '#3887be',  
                    'text-halo-color': 'hsl(55, 11%, 96%)',  
                    'text-halo-width': 3  
                }  
                },  
                'waterway-label'  
            );
            // let elevationGain = updateElevationProfile(lineData);
            // routeDetails(route, elevationGain);
        } catch (error) {
            if (error.name === 'AbortError') {
                console.log('Fetch aborted');
            } else {
                console.error('Fetch error:', error);
            }
        }
    }
    //# sourceURL=saved_routes.js
    </script>
{% endblock %}
