{% extends 'sign_in_out/base.html' %} {% block title %}Reset Password{% endblock %}
{% load crispy_forms_tags %} {% block content %}
<form method="post" class="py-4 px-2">
  {% csrf_token %}
  <h4 class="text-left">Reset Your Password</h4>
  <p class="text-left">Enter your email address and we'll send you a link to reset your password.</p>
  <hr>
  <div class="mb-3">
    <input type="text" class="form-control" id="email" name="email" placeholder="Your Email" required>
  </div>
  <button type="submit" class="btn btn-success mb-2 w-100">Reset</button>
</form>
{% endblock %}